/*---------CONTACTS PAGE----------*/

.hero-contacts .center-text {
    margin-top: 60px;
    text-align: center;
}

.hero-contacts h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 33px;
}

.hero-contacts > img {
    width: 70%;
    margin: 80px 15%;
}

.hero-contacts .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-contacts .links p {
    font-size: 18px;
    font-weight: 300;
    max-width: 325px;
}

.hero-contacts .links .block {
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
}

.hero-contacts .links .block.media {
    display: flex;
    flex-direction: column;
}

.hero-contacts .links .block.media h3 {
    align-self: flex-start;
    font-size: 16px;
}

.hero-contacts .links .block .media-icons {
    display: flex;
    gap: 10px;
}

.hero-contacts .links hr {
    border: 0;
    background: #cccccc;
    width: 2px;
    height: 125px;
    align-items: center;
}